<meta name="viewport" content="width=device-width;
  initial-scale=1;" />
@media (max-width: 320px) {
  h1 {
  width: 320px;
  }
  nav {
    font-size: 32px;
  }
  header, body, main {
    font-size: 32px;
    width: 320px;
  }
  #Pharrell {
    display: none;
    clear: left;
  }
  #AnnaLunoe {
    display: none;
    clear: left;
  }
  #LindsayLuv {
    display: none;
    clear: left;
  }
  #HiroClark {
    display: none;
    clear: left;
  }
  #wwd {
    clear: right;
  }
  #drill {
    clear: right;
  }
  #ksubi {
    clear: right;
  }
  .clear {
    clear: right;
  }
}
