* {
  background: transparent; !important
  color: black;
  font-size: 12pt;
  font-family: serif;
}

a {
  text-decoration: none;
  color: black;
}

@page {
  margin: 0.5in;
}

h1 {
  font-size: 50pt;
  text-align: center;
  margin: 0;
}

h2 {
  letter-spacing: 0.01in;
  font-size: 16pt;
  border-bottom: 1pt solid black;
  margin-bottom: 0.2in;
}

h4 {
  line-height: 1;
  margin: 0 auto;
}

h4 {
  line-height: 1;
  margin: 0 auto;
}

nav {
  display: none;
}

a[href^="http"] {
  display: inline;
}

a[href^="http"]:after {
  content: " (" attr(href) ") ";
}

#subhead {
  text-align: center;
}

#wwd {
  margin: -13px 0 0 0;
}

#drill {
  padding-bottom: 20px;
 -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#ksubi {
  padding-bottom: 20px;
}
